.wrapper-1 {
  margin-top: 8rem;
  margin-bottom: 1rem;
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

footer {
  font-size: 12px;
  background-color: #fafafa;
  background: url(../images/bg-pattern-footer-mobile.svg) no-repeat center top;
  background-size: contain;
}

.btn {
  border-radius: 0;
  border: 1px solid #fafafa;
  font-weight: 700;
}

.navbar-light .navbar-toggler {
  border-radius: 0;
  border: 1px solid #2b272f;
}

h1, h2, h3 {
  font-family: 'DM Serif Display', serif;
}

.nav-item {
  border: none;
  background-color: #2b272f;
  font-weight: 700;
}

.nav-link {
  width: 90%;
  margin: auto;
}

.nav-link:last-child {
  margin-bottom: 0.5rem;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #fafafa;
  border: 1px solid #fafafa;
}

.navbar-light .navbar-toggler[aria-expanded=true] .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-x' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
}

.showcase-body {
  color: #fafafa;
}

.showcase-body img.mobile, .showcase-body img.desktop {
  width: 100%;
}

.showcase-body .jumbotron {
  background-color: #2d2640;
  position: relative;
}

.showcase-body .jumbotron::before {
  content: " ";
  background: no-repeat url(../images/bg-pattern-intro-left-mobile.svg);
  width: 165px;
  height: 168px;
  position: absolute;
  top: 0;
  left: 0;
}

.showcase-body .jumbotron::after {
  content: " ";
  background: no-repeat url(../images/bg-pattern-intro-right-mobile.svg);
  width: 124px;
  height: 330px;
  position: absolute;
  right: 0;
  bottom: -30%;
}

.jumbotron h1, .jumbotron p {
  max-width: 35rem;
}

.key-values-hr {
  width: 50%;
  background-color: #95a9c6;
  margin-top: 90px;
}

.key-values p {
  color: #837d87;
}

.card {
  max-width: 500px;
}

.card-img-top {
  height: 45px;
  width: 45px;
}

.how-we-work h1 {
  color: #fafafa;
  max-width: 25rem;
}

.how-we-work-body {
  height: 40vh;
  min-height: 300px;
  background: #2d2640 url(../images/bg-pattern-how-we-work-mobile.svg) no-repeat;
  background-position: top right;
}

footer hr {
  width: 50%;
  background-color: #837d87;
}

.footer-nav, .footer-nav h6 {
  font-weight: 700;
}

.footer-nav h6 {
  color: #837d87;
}

.footer-nav a {
  text-decoration: none;
  color: #2b272f;
  display: block;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 750px) {
  .nav-item {
    background-color: white;
    font-weight: 700;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #837d87;
  }
  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .show > .nav-link {
    color: #2b272f;
    border: 1px solid #2b272f;
  }
  .nav-link {
    width: 100%;
  }
  .key-values-hr {
    width: 10%;
  }
  .how-we-work-body {
    height: 20vh;
    min-height: 240px;
    background: #2d2640 url(../images/bg-pattern-how-we-work-desktop.svg) no-repeat;
    background-position: top right;
  }
  footer hr {
    width: 100%;
  }
  footer {
    background-color: #fafafa;
    background: url(../images/bg-pattern-footer-desktop.svg) no-repeat left top;
    background-size: 35%;
  }
}

@media (min-width: 992px) {
  .wrapper-2 {
    margin-top: 16rem;
    margin-bottom: 1rem;
  }
  .showcase-body {
    position: relative;
    background-color: #2d2640;
  }
  .showcase-body .img .desktop {
    position: absolute;
    width: 35%;
    bottom: -40%;
    right: 8%;
  }
  .showcase-body .jumbotron {
    position: static;
  }
  .showcase-body .jumbotron hr {
    width: 10%;
    background-color: #fafafa;
  }
  .showcase-body .jumbotron::before {
    content: " ";
    background: no-repeat url(../images/bg-pattern-intro-left-desktop.svg);
    background-size: 90%;
    width: 12.1875rem;
    height: 84rem;
    position: absolute;
    top: 70%;
    left: 0;
  }
  .showcase-body .jumbotron::after {
    content: " ";
    background: no-repeat url(../images/bg-pattern-intro-right-desktop.svg);
    background-size: 70%;
    width: 28.25rem;
    height: 28.0625rem;
    position: absolute;
    right: -8.6rem;
    top: 0;
  }
}

.navbar-nav a:hover {
  color: #95a9c6 !important;
  transition: all 200ms ease-in;
}

.navbar-nav .active a:hover {
  background-color: #fafafa;
  color: #2b272f !important;
  transition: all 200ms ease-in;
}

.social-link:hover svg path {
  fill: #2b272f;
  transition: all 200ms ease-in;
}

.footer-nav a:hover {
  text-decoration: underline;
  transition: all 200ms ease-in;
}

@media (min-width: 750px) {
  .navbar-nav a:hover {
    border: none;
    color: #2b272f !important;
  }
  .navbar-nav .active a:hover {
    background-color: #2b272f !important;
    color: #fafafa !important;
  }
}
